

.auth {
    display: flex;
    padding: $padding-m $padding-l ;
    border-left: $border-width-thin solid $border-color-divider;
}

.auth__wrapper {

    padding-right: $padding-l;
    display: flex;
    align-items: center;


    .link {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        color: $text-color-l;
    }

}