:root, * {
    box-sizing: border-box;
    transition: 0.2 ease-in-out;
}

html, body {
    font-family: 'Asap', sans-serif;
}

.app {
    display: grid;
    grid-template:  "square header" 8%
                    "nav  main" 1fr  
                    "footer  footer" 8%
                    / 80px 1fr;
            
}

.square {
    grid-area: square;
}

.header {
    grid-area: header;
}

nav.link-list {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.hidden{
    display: none;
}

i, .btn {
    transition: 0.2s ease-in-out;

}