.filter-bar {
    padding: $padding-m;
    display: flex;
    align-items: center;
    background-color: $color-white;
    box-shadow: $drop-shadow-bottom;

}

.filter-results {
    display: flex;
    align-items: center;
}

.filter-results__list {
    padding-left: $padding-s;
}