.folder-bar {
    display: flex;
    padding: $padding-m;
    border: $border-width solid $border-color-secondary;
    border-radius: $border-radius-s;
    border-top: none;
    background-color: transparent;

}