.footer {
    display: flex;
    // padding: $padding-s 0;
    justify-content: space-between;
    box-shadow: $drop-shadow-top;

}

.footer__state {
    display: flex;
    align-items: center;
    padding: $padding-s $padding-m;

    .card-count {
        padding-left: $padding-m;

    }
}

.footer__text {
    padding-left: $padding-s;
        font-size: $text-size-s;
        color: $text-color-m;
}

.footer__info {
    padding-right: $padding-m;
    display: flex;
    align-items: center;
    font-size: $text-size-s;
    color: $text-color-m;

    i {
        font-weight: 700;
        font-style: italic;
    }
}