
.link-list--aside {
    box-shadow: $drop-shadow-right;
}

.link-list__item {
    padding: $padding-m;
    list-style: none;
    cursor: pointer;

    &:hover i{
        color: $color-primary;
    }
}

.link-list--footer {
    display: flex;
    .link {
        display: flex;
        flex-direction: column;
    }
}

.link-list--aside{
    padding-top: $padding-l + 15px;

    .link-list__item:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $hover-link-size;
        height: 100%;
        background-color: $color-primary;
        
    }

    .link-list__item:hover{
        position: relative;
        background-color: $color-fade-blue;
    
    
    }
}


.link-list--fotter .link-list__item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $hover-link-size;
    background-color: $color-primary;
    
}

.link-list--fotter .link-list__item:hover{
    position: relative;
    background-color: $color-fade-blue;

}
