.page-count {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-m 0 $padding-m*2;
    font-size: $text-size-m;
    color: $text-color-m;
}



.page-count__conjunction {
    padding: 0 $padding-m ;
}

.page-count__num {

    padding: $padding-s;
}

.page-count__num--selected {
    background-color: $color-white;
    border-radius: $border-radius-round;
    color: $color-primary;
}