.sort-bar {
    display: flex;
    margin-left: auto;
    align-items: center;

    .btn.icon {
        padding: $padding-s $padding-m ;
        border: $border-width-thin solid $border-color-secondary;
        border-radius: $border-radius-s;
    }

    .search__input {
        display: none;
    }

    .search__label:hover > .search__input,
    .search__input:focus {
        display: block;
    }
}

.sort-bar__title {
    margin-right: $margin-s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $text-size-m;
}

