.status-bar {
    display: flex;
    align-items: stretch;
    padding-left: $padding-m;
    background-color: $color-white;
    border-top-left-radius: $border-radius-s;
    border-top-right-radius: $border-radius-s;
    border-bottom: $border-width-thin solid $border-color-divider;



    &:hover i {
        color: $text-color-m;
    }


    .link-list__item {
        display: flex;
        align-items: center;
        padding: $padding-m;

        &:hover {
            position: relative;
            background-color: $color-white;
        }
        
        }

    .link-list__item:last-of-type {
        margin-left: auto;
        padding-right: $padding-m;
        cursor: auto;
        
        &:hover {
            background-color: $color-white;
        }

        &:hover::before {
            content: none;
        }
    }

    i {
        padding-bottom: 0;
    }

    .link-list__item:hover::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: $hover-link-size;
        width: 100%;
        background-color: $color-primary;
        
    }

}

.status-bar__item {
    display: flex;
    align-items: center;

    .link__icon,
    .link__title {
        margin-right: $margin-xs;
        text-transform: uppercase;

    }

    .link__title {
        font-weight: 600;
    }
}