

.bage {
    // position: absolute;
    width: $bage-size;
    height: $bage-size;
    border: $bage-border-size solid $color-white;
    border-radius: 50%;
}

.bage__container {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: $margin-s;
}


.bage--ukraine {
    background-image: url(../img/2000px-Flag_of_Ukraine.svg.png);
    background-size: cover;
}

.bage__notification  {
    position: absolute;
    background-color: $color-primary;
    color: $color-white;
    font-size: $bage-text-size;
    font-weight: 700;
    line-height: 1.4;
    top: 0;
    right: 0;
}