.btn-group {
    display: flex;
    align-items: center;
    padding: $padding-m 0;

}

.btn {
    padding: $padding-s+5px $padding-m;
    margin-left: $margin-s;
    border: none;
    border-radius: $border-radius-s;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    box-shadow: $drop-shadow-bottom;

    &:first-of-type {
        margin-left: 0;
    }

    &:hover {
        color: $color-primary;
        box-shadow: $drop-shadow-bottom;


    }

    &:hover:active {
        background-color: $color-primary;
        color: $color-white;
        border: none;
        box-shadow: $drop-shadow-up-bottom;

        i {
            color: $color-white;
        }
    }

    .icon {
        padding: 0 $padding-s 0 0;
    }

}


.btn--transparent {
    border: $border-width solid $color-primary;
    color: $color-primary;
    box-shadow: none;
}

.btn--meatballs {
    padding: $padding-s;
    border: none;
    color: $text-color-l;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.btn--filled {
    background-color: $color-white;
}

.btn--filled--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: $color-primary;
        color: $color-white;

        i {
            color: $color-white;
        }
    }
}