.card-count {
    display: flex;
    align-items: center;
}

.card-count__num {
    padding: $padding-xs $padding-s;
    margin-right: $margin-xs;
    background-color: $color-primary;
    border-radius: $border-radius-full;
    color: $color-light-grey;    
    font-size: $text-size-s;

}

.card-count__text {
    color: $text-color-m;
    font-size: $text-size-s;
    font-weight: 600;
}