.card-area {
    display: grid;
    grid-gap: $padding-l;
    grid-template-columns: repeat(auto-fill,  $card-min-size);
    grid-template-rows: repeat(auto-fill, $card-min-size);
    grid-auto-columns: minmax( $card-min-size, $card-max-size);
    grid-auto-rows: minmax( $card-min-size, $card-max-size);
    justify-content: space-between;
    height: 100%;


}

.card {  
    // min-width: $card-min-size;
    // min-height: $card-min-size;
    // max-width: $card-max-size;
    // max-height: $card-max-size;
    // height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: $border-radius-m;  
    box-shadow: $drop-shadow-bottom;
    line-height: 1.5;

    .icon {
        padding: 0 $padding-s ;
    }

    .title {
        font-size: $text-size-l;
        
    }

    .subtitle {
        font-size: $text-size-m;
    }

}


.card__header {
    display: flex;
    margin-bottom: $margin-m;
}

.card__bages {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: $margin-s;
    .bage {
        margin-left: -$margin-xs;
    }

}

.card__filters {
    display: flex;
    margin-bottom: $margin-m;
    color: $text-color-m;

    .icon {
        padding: 0 $padding-s 0 0;

        font-size: $text-size-s;
    }
}


.card__content {
    padding: $padding-m $padding-m 0;
    flex: 1 0 auto
}

.card__footer {
    flex: 0 0 auto;

   .status-info{
       color: $text-color-m;
  }

   .action-info{
       color: $text-color-s;

       .icon:last-of-type {
           border-left: $border-width-thin solid $border-color-divider;
       }
   }
}

.card__icons {
    display: flex;
    align-items: center;
    padding: $padding-s $padding-m;
    font-size: $text-size-s;
    border-top: $border-width-thin solid $border-color-divider;



    .icon{
        padding: 0 $padding-s 0 0;
    }

    .icon:last-of-type{
        margin-left: auto;
    }

}


.card--form {
    position: relative;
    background: url(../img/svg/folders.svg) no-repeat;
    background-size: 50% 50%;
    background-position: 50% 30%;
    background-color: $color-fade-blue;
    border: $border-width solid $border-color-primary;
    box-shadow: none;

    .btn-group {
        position: relative;
        justify-content: center;
        bottom: -70%;
    }
}

.card--folder {
    background: url(../img/svg/folders.svg) no-repeat;
    background-size: 50% 50%;
    background-position: 50% 30%;
    background-color: $color-white;

    .text-wrapper,
    .card-count {
        position: relative;
        bottom: -50%;
        display: flex;
        justify-content: center;

    }

    .card__header {
        padding: $padding-m;
        margin-bottom: 0;
    }


    .title {
        font-size: $text-size-m;
    }
}