
.checkbox__container {
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    margin-right: $padding-s;

}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: $checkbox-size;
    height: $checkbox-size;
 

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }


}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    border: $border-width solid $border-color-secondary;

    border-radius: $checkbox-border-radius;

}


.checkbox:hover input ~ .checkmark {
    background-color: $border-color-secondary;
    border: none;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: $color-primary;
    border: none;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  

  .checkbox .checkmark:after {
    left: $checkbox-comp-pos-left;
    top: $checkbox-comp-pos-top;
    width: $checkbox-comp-width;
    height: $checkbox-comp-height;
    border: solid white;
    border-width: 0 $checkbox-border-width $checkbox-border-width 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

