.drop-menu {
    position: relative;

    input[type="checkbox"]{
        display: none;
        
    
        &:checked ~ .drop-menu__list {
            display: block;
    
        }
        &:checked ~ .drop-menu__sign i {
            position: relative;
           transform: rotate(180deg);
    
        }
    }

}



.drop-menu__list {
    position: absolute;
    width: 100%;
    left: -$padding-m;
    top: 200%;
    z-index: 1;
    background-color: $color-white;
}

.drop-menu__sign {
    padding: $padding-s $padding-m;
    font-weight: 600;
    border: $border-width-thin solid $border-color-secondary;
    border-radius: $border-radius-s;
    margin-right: $margin-s;

}

.drop-menu__title {
    margin-right: $margin-l+10px;
}

.drop-menu__icon {
    font-size: $text-size-s;
}