.filter-result {
    padding: $padding-sm;
    border-radius: $border-radius-full;
    background-color: $color-grey;
    font-size: $text-size-s;
    font-weight: 600;

    .icon--clear {
        padding: 0;
        padding-left: $padding-s;
        margin: 0;
        cursor: pointer;
        font-size: $text-size-s;
        color: $text-color-l;
    }

}

.filter-result__icon {
    color: $text-color-m;
    margin-right: $margin-xs;
}
