.folder{
    display: flex;
    align-items: center;
    
}

.folder__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.folder__descr {
    font-size: $text-size-s;
    padding-left: $padding-s;
    line-height: 1.2;
    color: $text-color-m;
}

.folder__title {

    font-weight: 600;
    max-width: $folder-title-max-width;
}

.folder__subtitle {
    color: $text-color-s;
}

.folder__img {
    width: $folder-img-size;
    height: $folder-img-size;
}