@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700');

@font-face {
    font-family: "Font Awesome 5 Pro";
    src: url("/public/assets/font/fontawesome/fa-solid-900.woff2") format("woff2");
   }