.icon {
    padding: $padding-s;
    position: relative;
    border: none;
    border-radius: $border-radius-s;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;


}



.btn.icon {
    margin-left: $margin-s;
    
    &:hover,
    &:hover:active {
        box-shadow: none;
        color: $color-primary;
        background-color: transparent;

        .tooltip:hover::before,
        .tooltip:hover::after {
            display: block;
        }


        i {
            color: $color-primary;
        }
    }
}

.icon.icon--clear{
    color: $text-color-m;

    &:hover i,
    &:hover:active i {
        background-color: transparent;
        color: $color-expired;

    
    }
}


.icon__text {
    padding-left: $padding-xs;
}