.link {
    display: block;
    position: relative;
    font-size: $text-size-s;
    color: $text-color-m;
    text-align: center;

    
}

.link__icon > i {
    padding-bottom: $padding-s;
    font-size: $text-size-l;
}