.logo {
    display: flex;
    border-right: $border-width-thin solid $border-color-divider;
}

.logo__wrapper {
    padding: $padding-m $padding-l;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.logo__title {
    font-size: $text-size-xl;
    font-weight: 700;
    color: $text-color-l;
    line-height: 1;
}

.logo__subtitle {
    font-size: $text-size-m;
    font-weight: 600;
    color: $text-color-m;
}
