@import "_var";
@import "_reset";
@import "_checkbox";
@import "_atomic";
@import "_link-list";
@import "_svg";
@import "_fonts";
@import "_btn";
@import "_bage";
@import "_logo";
@import "_typo";
@import "_form";
@import "_admin";
@import "_card";
@import "_page-title";
@import "_tag";
@import "_icon";

:root, * {
    box-sizing: border-box;
}

html, body {
    height: 100% ;
    font-family: 'Asap', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__wrapper {
    flex: 1 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    box-shadow: $drop-shadow-bottom;

    .btn-group {
        padding-right: $padding-l;
    }
}



.footer {
    flex: 0 0 auto;
    background-color: $color-white;
}

.main {
    display: flex;
    height: 100%;
}

.content {
    width: 100%;
    padding: 0 $padding-l;
    background-color: $color-grey;

}

.aside-control {
    max-width: $left-column-width;
    height: 100%;
    background-color: $color-white;

}
