

.search{
    display: flex;
    align-items: center;
    padding: $padding-m $padding-l;
}

.search__label {
    display: flex;
    align-items: center;
    transition: 0.2 ease-in-out;

}

.search__input {
    width: 100%;
    border: none;
    border-radius: $border-radius-s;

    margin-left: $margin-s;
    padding: $padding-xs $padding-s;

    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
}
.search__input:focus {
    background-color: $color-light-grey;

    & ~ .search__label i {
        color: $color-primary;
    }
}

