.card__tags{
    padding: $padding-m 0;
    display: flex;

    .tag{
        color: $color-primary;
        font-size: $text-size-s;
        padding: $padding-xs $padding-s;
        border-radius: $border-radius-full;
        background-color: $color-fade-blue;

    }
}

