.toggle {
    position: relative;
    box-shadow: none;

    .toggle__switch {
        display: block;
        position: relative;
        width: $toggle-width;
        height: $toggle-height;
        cursor: pointer;
        text-indent: -130px;
        background-color: $color-dark-grey;
        border-radius: $border-radius-full;
        text-transform: uppercase;

    }

    .toggle__text {
        position: absolute;
        color: $text-color-m;
        transform: translate(600%, 50%)

    }

    .toggle__switch:after {
        content: '';
        position: absolute;
        top: $toggle-switch-position;
        left: $toggle-switch-position;
        max-width: $toggle-switch-width;
        min-width: $toggle-switch-width;
        height: $toggle-switch-height;
        background: $color-white;
        border-radius: $border-radius-full;
        transition: 0.3s;

        
    }

    .toggle__switch:active:after {
        width: $toggle-width;
    }


    input {
        display: none;
    }

    input:checked ~ .toggle__switch {
        background-color: $color-primary;
    }

    input:checked ~ .toggle__switch .toggle__text {
        color: $color-primary;
    }

    input:checked ~ .toggle__switch:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    &:hover {
        box-shadow: none;
    }

    &:hover:active {
        box-shadow: none;
    }
}