.tooltip {
    position: relative;
}

.tooltip::before {
    content: attr(title);
    position: absolute;
    display: none;
    z-index: 2;
    width: $tooltip-width;
    height: $tooltip-height;
    font-size: $text-size-xs;
    line-height: 2;
    border-radius: $border-radius-s;
    background-color: rgba(0,0,0,0.8);
    color: $color-white;
    font-weight: 400;
    text-transform: initial;
    text-align: center;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}




.tooltip::after {
    position: absolute;
    z-index: 1;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    content: "";
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.8);
}


.tooltip:hover::before,
.tooltip:hover::after{
    display: block;
}

.tooltip--btn.tooltip::after {
    bottom: 75%;
}

.tooltip--btn.tooltip::before {
    bottom: calc(75% + 5px);
}
