$color-primary: #315efb;
$color-active: #77c621;
$color-scheduled: #fd7923;
$color-expired: #e02925;
$color-white: #fff;
$color-grey: #ebf0f3;
$color-dark-grey: #484848;
$color-light-grey: #f6f8f9;
$color-fade-blue: rgba(49,94,251, 0.1);

$drop-shadow-right: 2px 0px 3px 0px rgba(38,38,38,0.2);
$drop-shadow-left: -2px 0px 3px 0px rgba(38,38,38,0.2);
$drop-shadow-bottom:  0px 2px 3px 0px rgba(38,38,38,0.2);
$drop-shadow-top:  0px -2px 3px 0px rgba(38,38,38,0.2);

$drop-shadow-up-right: 3px 0px 5px 0px rgba(38,38,38,0.2);
$drop-shadow-up-left: -3px 0px 5px 0px rgba(38,38,38,0.2);
$drop-shadow-up-bottom:  0px 3px 5px 0px rgba(38,38,38,0.2);
$drop-shadow-up-top:  0px -3px 5px 0px rgba(38,38,38,0.2);

$padding-xl: 40px; 
$padding-l: 30px;
$padding-m: 20px;
$padding-sm: 15px;
$padding-s: 10px;
$padding-xs: 5px;

$margin-xl: 40px;
$margin-l: 30px;
$margin-m: 20px;
$margin-s: 10px;
$margin-xs: 5px;

$text-color-l: #262626;
$text-color-m: #757575;
$text-color-s: #959595;

$text-size-xl: 24px;
$text-size-l: 16px;
$text-size-m: 14px;
$text-size-s: 12px;
$text-size-xs: 10px;

$border-color-primary: #98aefd;
$border-color-secondary: #d3d9db;
$border-color-divider: #ededed;

$border-radius-l: 10px;
$border-radius-m: 5px;
$border-radius-s: 2px;
$border-radius-full: 1000px;
$border-radius-round: 50%;
$border-width: 2px;
$border-width-thin: 1px;

$card-min-size: 350px;
$card-max-size: 350px;

$checkbox-size: 20px;
$checkbox-comp-pos-left: 8px;
$checkbox-comp-pos-top: 5px;
$checkbox-comp-width: 4px;
$checkbox-comp-height: 8px;
$checkbox-border-width: 3px;
$checkbox-border-radius: 2px;

$left-column-width: 80px;
$footer-height: 70px;

$svg-width-l: 30px;
$svg-width-m: 25px;
$svg-width-s: 20px;

$hover-link-size: 2px;

$bage-size: 20px;
$bage-border-size: 3px;
$bage-text-size: 10px;

$toggle-width: 60px;
$toggle-height: 30px;
$toggle-switch-width: 20px;
$toggle-switch-height: 20px;
$toggle-switch-position: 5px;

$folder-img-size: 50px;
$folder-title-max-width: 100px;

$tooltip-width: 80px;
$tooltip-height: 20px;